[submodule "MCME-UI"]
	path = MCME-UI
	url = git://github.com/MCME/MCME-UI.git
[submodule "MCME-Aural-Experience"]
	path = MCME-Aural-Experience
	url = https://github.com/MCME/MCME-Aural-Experience.git
